/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree 
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body{
 	background-color: #e1e1ea !important;
 }

 .navbar{
 	border-radius: 0px !important;
 }

 .navbar-inverse{
 	background-color: #20205f !important;
 	margin-bottom:0px !important; 
 }

 .nav{
 	text-align: center;
 }

 li{
 	padding: 10px 5px 10px 0px;
 }

 .navbar-brand{
 	padding-top: 0px;
 	padding-left: 25px;
 	position: relative;
    z-index: 1;
 }

 .container{
 	position: relative;
 	margin-top: -120px;
 }

.main-left{
	background: #fff;
	padding-left: 55px;
}

.left-info{
	padding: 30px 55px 40px 60px;
	line-height: 1.6em;
	color: #20205f;
}

.main-right{
	background: #343F64; 
}

.right-info{
	padding: 60px 55px 60px 60px;
	line-height: 1.6em;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 55px;
 }

 .heading{
 	font-size: 24px;
 	font-weight: bold;
 	line-height: 1.6em; 	
 }

.heading-right{
 	font-size: 24px;
 	font-weight: bold;
 	color: #fff;
 }

 .heading-min{
	 font-size: 18px;
	 color: #fff;
 }

 .date, .para-info{
 	color: #959CB2;
 }

 .btn{
 	border-radius: 0px !important;
 	background-color: rgba(233, 219, 137, 1) !important;
 	border: rgba(233, 219, 137, 1) !important;
 	color: #20205f !important;
 }




@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}


/* for small device  */
 
@media (max-width:767px) {
    .logo{
        max-width: 300%;
        max-height: 300%;
    }
}

@media (max-width:1024px) {
    .logo{
        max-width: 500%;
        max-height: 500%;
    }

    li{
 	padding: 10px 0.001px 10px 0px;
 	font-size: 12px;
 	}
}

a{
	display: block;
}
